# ---- Python ----
__pycache__/
*.py[cod]
*.so
.venv/
venv/
ENV/
env/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
pip-wheel-metadata/

.DS_Store
Thumbs.db
.vscode/
.idea/

.ipynb_checkpoints/

.env
.env.*
!.env.example

data/**
!data/**/.gitkeep

results/**
!results/**/.gitkeep
Project Plan.pdf

*.parquet
*.feather
*.arrow
# *.csv
*.tsv
*.jsonl
*.jsonl.gz
*.geojson
*.gpkg
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.qmd
*.tif
*.tiff
*.zip